﻿@model PANAGroup_TestWebApp.Models.PagingODataProductsModel
@{
    ViewBag.Title = "WebGrid";
}

<h2>WebGrid</h2>

<div>
    @{
        var grid = new WebGrid( null, rowsPerPage: Model.PageSize, defaultSort: "Name" ); ;
        grid.Bind( Model.Products, rowCount: Model.TotalRows, autoSortAndPage: false );
    }
    @grid.GetHtml( columns: grid.Columns( grid.Column( "ProductID", "Product ID" ),
                            grid.Column( "ProductName", "Product Name" ),
                            grid.Column( "Category.CategoryName", "Category Name" ),
                            grid.Column( "Supplier.CompanyName", "Company Name" ),
                            grid.Column( "Supplier.Country", "Country" ) ) )
</div>
