﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink( "your logo here", "Index", "Home" )</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial( "_LoginPartial" )
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
                        <li>@Html.ActionLink( "About", "About", "Home" )</li>
                        <li>@Html.ActionLink( "Contact", "Contact", "Home" )</li>
                        <li>@Html.ActionLink( "Arith", "Index", "Arith" )</li>
                        <li>@Html.ActionLink( "HtmlObj", "Html", "Obj" )</li>
                        <li>@Html.ActionLink( "WebGridObj", "WebGrid", "Obj" )</li>
                        <li>@Html.ActionLink( "WebGridSql", "WebGrid", "Sql" )</li>
                        <li>@Html.ActionLink( "WebGridXml", "WebGrid", "Xml" )</li>
                        <li>@Html.ActionLink( "WebGridOData", "WebGrid", "OData" )</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection( "featured", required: false )
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render( "~/bundles/jquery" )
    @RenderSection( "scripts", required: false )
</body>
</html>
